<div class='content d-flex justify-content-center align-items-center h-50'>
	<div class='content'>
		<h1 class='text-center'>All Users</h1>
		<table class='table table-hover'>
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Age</th>
				<th>Email</th>
			</tr>
			<tr>
				<td>XXXX</td>
				<td>XXXX</td>
				<td>XXXX</td>
				<td>XXXX</td>
			</tr>
		</table>
	</div>
</div>